<ion-split-pane>
    <ion-menu contentId="content">
        <ion-header>
            <ion-toolbar>
                <ion-title>Menu</ion-title>
            </ion-toolbar>
        </ion-header>
        <ion-content>
            <ion-list>
                <ion-menu-toggle auto-hide="false" *ngFor="let item of menu">
                    <ion-item (click)="locate(item.url)" routerDirection='forward' [class.active-item]="selectedPath === item.url">
                        <ion-icon [name]="item.icon"></ion-icon>
                        <ion-title> {{item.title}} </ion-title>
                    </ion-item>
                </ion-menu-toggle>
            </ion-list>
        </ion-content>
    </ion-menu>



    <ion-router-outlet id="content" main></ion-router-outlet>
</ion-split-pane>